.history-list {
  position: relative;
  ul li {
    list-style-type: none;
  }
  .history-item {
    border-left: 1px solid #DBDBDB;
    padding: 16px 0px 8px 8px;
    position: relative;
    margin: 0;
    &:before {
      top: 50%;
      left: -5px;
      position: absolute;
      content: " ";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: #DBDBDB;
    }
    .history-type {
      text-transform: uppercase;
      font-weight: 700;
      color: #898B8E;
      font-size: 11px;
      line-height: 1em;
      padding: 0;
      margin: 5px 0;
    }
    .history-number {
      text-transform: uppercase;
      font-weight: 700;
      color: #898B8E;
      font-size: 11px;
      line-height: 1em;
      padding: 0;
      margin: 5px 0;
    }
    .history-title {
      text-transform: uppercase;
      font-weight: 100;
      color: inherit;
      font-size: 13px;
      line-height: 1em;
      padding: 0;
      margin: 5px 0;
    }
    .history-value {
      text-transform: uppercase;
      font-weight: 700;
      color: inherit;
      font-size: 13px;
      line-height: 1em;
      padding: 0;
      margin: 5px 0;
      letter-spacing: -0.03em;
      white-space: nowrap;
    }
    small{
      font-weight: 100;
      color: #898B8E;
      font-size: 8px;
      line-height: 1em;
      padding: 0;
      margin: 3px 0;
    }
  }
}