// Buttons
.button {
  font-size: 13px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  min-height: 37px;
  padding: 0 15px;
  line-height: 36px;
  &.button-outline {
    width: 100%;
    min-width: 100%;
    border-width: 2px;
    &.activated {
      background: transparent;
    }
    &:focus {
      background: transparent;
    }
    &:active {
      background: transparent;
    }
  }
  &.button-light{
    color: $white;
    border-color: $white;
    &.button-outline.activated{
      background: rgba(255, 255, 255, .3);
    }
    &.button-outline.active{
      background: rgba(255, 255, 255, .3);
    }
  }
}

.button-bar{
  .button{
    font-size: $theme-font-size;
    text-transform: none;
    //font-weight: 100 !important;
    background-color: #DBDBDB;
    padding: 0 8px;
    & a{
      font-weight: 100;
    }
    &.button-positive{
      background-color: $theme-verde-one;
    }
  }
}