@charset "UTF-8";
html {
  font-family: "montserrat", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif; }

body,
.ionic-body {
  color: #4C535E;
  font-size: 15px;
  font-family: -apple-system;
  font-family: "montserrat", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  letter-spacing: -0.01em;
  font-weight: 100; }

.img-adaptative {
  max-width: 100%;
  max-height: 100%;
  height: auto; }

.avatar-md {
  border-radius: 50%;
  width: 114px;
  height: 114px; }

.fontsize-xs {
  font-size: 11px; }

.fontsize-sm {
  font-size: 15px; }

.fontsize-md {
  font-size: 20px; }

.fontsize-lg {
  font-size: 25px; }

.fontsize-xl {
  font-size: 33px; }

.fontsize-xxl {
  font-size: 53px; }

/* Dividers */
.divider-top {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #DBDBDB; }

.divider-right {
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #DBDBDB; }

.divider-bottom {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #DBDBDB; }

.divider-left {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid #DBDBDB; }

/* Cores genéricas, para textos */
.text-white {
  color: #fff; }
  .text-white.a {
    color: #fff; }
  .text-white a {
    color: #fff; }

.text-red {
  color: #AD4C57 !important; }
  .text-red.a {
    color: #AD4C57; }
  .text-red a {
    color: #AD4C57; }

.text-yellow {
  color: #f39c12 !important; }
  .text-yellow.a {
    color: #f39c12; }
  .text-yellow a {
    color: #f39c12; }

.text-aqua {
  color: #00c0ef !important; }
  .text-aqua.a {
    color: #00c0ef; }
  .text-aqua a {
    color: #00c0ef; }

.text-blue {
  color: #0073b7 !important; }
  .text-blue.a {
    color: #0073b7; }
  .text-blue a {
    color: #0073b7; }

.text-black {
  color: #222 !important; }
  .text-black.a {
    color: #222; }
  .text-black a {
    color: #222; }

.text-light-blue {
  color: #438CB9 !important; }
  .text-light-blue.a {
    color: #438CB9; }
  .text-light-blue a {
    color: #438CB9; }

.text-light-blue-two {
  color: #4990E2 !important; }
  .text-light-blue-two.a {
    color: #4990E2; }
  .text-light-blue-two a {
    color: #4990E2; }

.text-green {
  color: #00a65a !important; }
  .text-green.a {
    color: #00a65a; }
  .text-green a {
    color: #00a65a; }

.text-navy {
  color: #001F3F !important; }
  .text-navy.a {
    color: #001F3F; }
  .text-navy a {
    color: #001F3F; }

.text-teal {
  color: #39CCCC !important; }
  .text-teal.a {
    color: #39CCCC; }
  .text-teal a {
    color: #39CCCC; }

.text-olive {
  color: #3D9970 !important; }
  .text-olive.a {
    color: #3D9970; }
  .text-olive a {
    color: #3D9970; }

.text-lime {
  color: #01FF70 !important; }
  .text-lime.a {
    color: #01FF70; }
  .text-lime a {
    color: #01FF70; }

.text-orange {
  color: #FF851B !important; }
  .text-orange.a {
    color: #FF851B; }
  .text-orange a {
    color: #FF851B; }

.text-fuchsia {
  color: #F012BE !important; }
  .text-fuchsia.a {
    color: #F012BE; }
  .text-fuchsia a {
    color: #F012BE; }

.text-purple {
  color: #932ab6 !important; }
  .text-purple.a {
    color: #932ab6; }
  .text-purple a {
    color: #932ab6; }

.text-maroon {
  color: #85144B !important; }
  .text-maroon.a {
    color: #85144B; }
  .text-maroon a {
    color: #85144B; }

/* Rolagens */
.rol-vert {
  display: block;
  overflow: auto;
  overflow-x: hidden; }

.rol-hor {
  display: block;
  overflow: auto;
  overflow-y: hidden; }

.rol-hor-vert {
  display: block;
  overflow: auto; }

.overflow-hide {
  overflow: hidden; }

/* Rolagens */
.rol-vert {
  display: block;
  overflow: auto;
  overflow-x: hidden; }

.rol-hor {
  display: block;
  overflow: auto;
  overflow-y: hidden; }

.rol-hor-vert {
  display: block;
  overflow: auto; }

.overflow-hide {
  overflow: hidden; }

.overflow-dots {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; }

.text-upper {
  text-transform: uppercase !important; }

.text-lower {
  text-transform: lowercase !important; }

.text-line-through {
  text-decoration: line-through; }

.m-0 {
  margin: 0 !important; }

.mc {
  margin-left: auto;
  margin-right: auto; }

.mt-0 {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0 {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.p-0 {
  padding: 0 !important; }

.pt-0 {
  padding-top: 0; }

.pr-0 {
  padding-right: 0; }

.pb-0 {
  padding-bottom: 0; }

.pl-0 {
  padding-left: 0; }

@media (max-width: 319px) {
  .mc-sm {
    margin-right: auto;
    margin-left: auto; }
  .mt-xs {
    margin-top: 2px; }
  .mr-xs {
    margin-right: 2px; }
  .mb-xs {
    margin-bottom: 2px; }
  .ml-xs {
    margin-left: 2px; }
  .mt-sm {
    margin-top: 6px; }
  .mr-sm {
    margin-right: 6px; }
  .mb-sm {
    margin-bottom: 6px; }
  .ml-sm {
    margin-left: 6px; }
  .mt-md {
    margin-top: 10px; }
  .mr-md {
    margin-right: 10px; }
  .mb-md {
    margin-bottom: 10px; }
  .ml-md {
    margin-left: 10px; }
  .mt-lg {
    margin-top: 15px; }
  .mr-lg {
    margin-right: 15px; }
  .mb-lg {
    margin-bottom: 15px; }
  .ml-lg {
    margin-left: 15px; }
  .mt-xl {
    margin-top: 25px; }
  .mr-xl {
    margin-right: 25px; }
  .mb-xl {
    margin-bottom: 25px; }
  .ml-xl {
    margin-left: 25px; }
  .pt-xs {
    padding-top: 2px; }
  .pr-xs {
    padding-right: 2px; }
  .pb-xs {
    padding-bottom: 2px; }
  .pl-xs {
    padding-left: 2px; }
  .pt-sm {
    padding-top: 6px; }
  .pr-sm {
    padding-right: 6px; }
  .pb-sm {
    padding-bottom: 6px; }
  .pl-sm {
    padding-left: 6px; }
  .pt-md {
    padding-top: 10px; }
  .pr-md {
    padding-right: 10px; }
  .pb-md {
    padding-bottom: 10px; }
  .pl-md {
    padding-left: 10px; }
  .pt-lg {
    padding-top: 15px; }
  .pr-lg {
    padding-right: 15px; }
  .pb-lg {
    padding-bottom: 15px; }
  .pl-lg {
    padding-left: 15px; }
  .pt-xl {
    padding-top: 25px; }
  .pr-xl {
    padding-right: 25px; }
  .pb-xl {
    padding-bottom: 25px; }
  .pl-xl {
    padding-left: 25px; } }

@media (min-width: 320px) and (max-width: 479px) {
  .mc-md {
    margin-right: auto;
    margin-left: auto; }
  .mt-xs {
    margin-top: 2px; }
  .mr-xs {
    margin-right: 2px; }
  .mb-xs {
    margin-bottom: 2px; }
  .ml-xs {
    margin-left: 2px; }
  .mt-sm {
    margin-top: 6px; }
  .mr-sm {
    margin-right: 6px; }
  .mb-sm {
    margin-bottom: 6px; }
  .ml-sm {
    margin-left: 6px; }
  .mt-md {
    margin-top: 10px; }
  .mr-md {
    margin-right: 10px; }
  .mb-md {
    margin-bottom: 10px; }
  .ml-md {
    margin-left: 10px; }
  .mt-lg {
    margin-top: 15px; }
  .mr-lg {
    margin-right: 15px; }
  .mb-lg {
    margin-bottom: 15px; }
  .ml-lg {
    margin-left: 15px; }
  .mt-xl {
    margin-top: 25px; }
  .mr-xl {
    margin-right: 25px; }
  .mb-xl {
    margin-bottom: 25px; }
  .ml-xl {
    margin-left: 25px; }
  .pt-xs {
    padding-top: 2px; }
  .pr-xs {
    padding-right: 2px; }
  .pb-xs {
    padding-bottom: 2px; }
  .pl-xs {
    padding-left: 2px; }
  .pt-sm {
    padding-top: 6px; }
  .pr-sm {
    padding-right: 6px; }
  .pb-sm {
    padding-bottom: 6px; }
  .pl-sm {
    padding-left: 6px; }
  .pt-md {
    padding-top: 10px; }
  .pr-md {
    padding-right: 10px; }
  .pb-md {
    padding-bottom: 10px; }
  .pl-md {
    padding-left: 10px; }
  .pt-lg {
    padding-top: 15px; }
  .pr-lg {
    padding-right: 15px; }
  .pb-lg {
    padding-bottom: 15px; }
  .pl-lg {
    padding-left: 15px; }
  .pt-xl {
    padding-top: 25px; }
  .pr-xl {
    padding-right: 25px; }
  .pb-xl {
    padding-bottom: 25px; }
  .pl-xl {
    padding-left: 25px; } }

@media (min-width: 480px) and (max-width: 859px) {
  .mc-lg {
    margin-right: auto;
    margin-left: auto; }
  .mt-xs {
    margin-top: 3px; }
  .mr-xs {
    margin-right: 3px; }
  .mb-xs {
    margin-bottom: 3px; }
  .ml-xs {
    margin-left: 3px; }
  .mt-sm {
    margin-top: 8px; }
  .mr-sm {
    margin-right: 8px; }
  .mb-sm {
    margin-bottom: 8px; }
  .ml-sm {
    margin-left: 8px; }
  .mt-md {
    margin-top: 13px; }
  .mr-md {
    margin-right: 13px; }
  .mb-md {
    margin-bottom: 13px; }
  .ml-md {
    margin-left: 13px; }
  .mt-lg {
    margin-top: 20px; }
  .mr-lg {
    margin-right: 20px; }
  .mb-lg {
    margin-bottom: 20px; }
  .ml-lg {
    margin-left: 20px; }
  .mt-xl {
    margin-top: 33px; }
  .mr-xl {
    margin-right: 33px; }
  .mb-xl {
    margin-bottom: 33px; }
  .ml-xl {
    margin-left: 33px; }
  .pt-xs {
    padding-top: 3px; }
  .pr-xs {
    padding-right: 3px; }
  .pb-xs {
    padding-bottom: 3px; }
  .pl-xs {
    padding-left: 3px; }
  .pt-sm {
    padding-top: 8px; }
  .pr-sm {
    padding-right: 8px; }
  .pb-sm {
    padding-bottom: 8px; }
  .pl-sm {
    padding-left: 8px; }
  .pt-md {
    padding-top: 13px; }
  .pr-md {
    padding-right: 13px; }
  .pb-md {
    padding-bottom: 13px; }
  .pl-md {
    padding-left: 13px; }
  .pt-lg {
    padding-top: 20px; }
  .pr-lg {
    padding-right: 20px; }
  .pb-lg {
    padding-bottom: 20px; }
  .pl-lg {
    padding-left: 20px; }
  .pt-xl {
    padding-top: 33px; }
  .pr-xl {
    padding-right: 33px; }
  .pb-xl {
    padding-bottom: 33px; }
  .pl-xl {
    padding-left: 33px; } }

@media (min-width: 860px) {
  .mc-xl {
    margin-right: auto;
    margin-left: auto; }
  .mt-xs {
    margin-top: 5px; }
  .mr-xs {
    margin-right: 5px; }
  .mb-xs {
    margin-bottom: 5px; }
  .ml-xs {
    margin-left: 5px; }
  .mt-sm {
    margin-top: 12px; }
  .mr-sm {
    margin-right: 12px; }
  .mb-sm {
    margin-bottom: 12px; }
  .ml-sm {
    margin-left: 12px; }
  .mt-md {
    margin-top: 20px; }
  .mr-md {
    margin-right: 20px; }
  .mb-md {
    margin-bottom: 20px; }
  .ml-md {
    margin-left: 20px; }
  .mt-lg {
    margin-top: 30px; }
  .mr-lg {
    margin-right: 30px; }
  .mb-lg {
    margin-bottom: 30px; }
  .ml-lg {
    margin-left: 30px; }
  .mt-xl {
    margin-top: 50px; }
  .mr-xl {
    margin-right: 50px; }
  .mb-xl {
    margin-bottom: 50px; }
  .ml-xl {
    margin-left: 50px; }
  .pt-xs {
    padding-top: 5px; }
  .pr-xs {
    padding-right: 5px; }
  .pb-xs {
    padding-bottom: 5px; }
  .pl-xs {
    padding-left: 5px; }
  .pt-sm {
    padding-top: 12px; }
  .pr-sm {
    padding-right: 12px; }
  .pb-sm {
    padding-bottom: 12px; }
  .pl-sm {
    padding-left: 12px; }
  .pt-md {
    padding-top: 20px; }
  .pr-md {
    padding-right: 20px; }
  .pb-md {
    padding-bottom: 20px; }
  .pl-md {
    padding-left: 20px; }
  .pt-lg {
    padding-top: 30px; }
  .pr-lg {
    padding-right: 30px; }
  .pb-lg {
    padding-bottom: 30px; }
  .pl-lg {
    padding-left: 30px; }
  .pt-xl {
    padding-top: 50px; }
  .pr-xl {
    padding-right: 50px; }
  .pb-xl {
    padding-bottom: 50px; }
  .pl-xl {
    padding-left: 50px; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 320px) {
    .container {
      width: 100%; } }
  @media (min-width: 480px) {
    .container {
      width: 100%; } }
  @media (min-width: 860px) {
    .container {
      width: 100%; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.theme-row {
  margin-left: -8px;
  margin-right: -8px; }
  .theme-row:before, .theme-row:after {
    content: " ";
    display: table; }
  .theme-row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 320px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 480px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 860px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.view-container .scroll-content {
  background-color: #EAEAEA; }

.tabbed-slidebox .slider {
  margin: 5px 0; }

.box-fluid {
  margin: 8px 0;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
  .box-fluid:before, .box-fluid:after {
    content: " ";
    display: table; }
  .box-fluid:after {
    clear: both; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

h1.box-title, h2.box-title, h3.box-title, h4.box-title, h5.box-title, h6.box-title,
.h1.box-title, .h2.box-title, .h3.box-title, .h4.box-title, .h5.box-title, .h6.box-title {
  text-transform: uppercase;
  color: #656D78;
  letter-spacing: -.03em;
  font-weight: 700; }

/**
 * Typography global
 * --------------------------------------------------
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 100;
  font-family: "montserrat", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  color: #4C535E;
  margin: 0;
  padding: 0; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
  .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-size: 11px; }

h1, .h1 {
  font-size: 37px; }

h2, .h2 {
  font-size: 22px; }

h3, .h3 {
  font-size: 15px; }

h4, .h4 {
  font-size: 9px; }

h5, .h5 {
  font-size: 6px; }

h6, .h6 {
  font-size: 5px; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.ttf") format("truetype"), url("../fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.woff2") format("woff"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: 700;
  font-style: normal; }

.button, input, select, textarea {
  font-family: "montserrat", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  min-height: 37px; }

.button {
  font-size: 13px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  min-height: 37px;
  padding: 0 15px;
  line-height: 36px; }
  .button.button-outline {
    width: 100%;
    min-width: 100%;
    border-width: 2px; }
    .button.button-outline.activated {
      background: transparent; }
    .button.button-outline:focus {
      background: transparent; }
    .button.button-outline:active {
      background: transparent; }
  .button.button-light {
    color: #fff;
    border-color: #fff; }
    .button.button-light.button-outline.activated {
      background: rgba(255, 255, 255, 0.3); }
    .button.button-light.button-outline.active {
      background: rgba(255, 255, 255, 0.3); }

.button-bar .button {
  font-size: 15px;
  text-transform: none;
  background-color: #DBDBDB;
  padding: 0 8px; }
  .button-bar .button a {
    font-weight: 100; }
  .button-bar .button.button-positive {
    background-color: #338C4A; }

.scroll-content {
  min-height: 100%;
  height: auto; }
  .scroll-content .scroll {
    min-height: 100%;
    height: auto; }

.tabbed-slidebox {
  position: relative;
  min-height: 100%;
  height: auto;
  overflow: hidden; }
  .tabbed-slidebox .slider {
    min-height: 100%;
    height: auto; }
    .tabbed-slidebox .slider .slider-slides {
      width: 100%;
      min-height: 100%;
      height: auto; }
      .tabbed-slidebox .slider .slider-slides .slider-slide {
        padding-top: 0px;
        min-height: 100%;
        height: auto; }
  .tabbed-slidebox .tsb-icons {
    text-align: center;
    margin: 0;
    position: relative;
    background-color: transparent; }
    .tabbed-slidebox .tsb-icons:after {
      position: absolute;
      height: 100%;
      content: '';
      width: 15px;
      background-color: transparent;
      top: 0;
      left: 0;
      background: linear-gradient(to right, #eaeaea 0%, rgba(255, 255, 255, 0) 100%); }
    .tabbed-slidebox .tsb-icons:before {
      position: absolute;
      height: 100%;
      content: '';
      width: 15px;
      background-color: transparent;
      top: 0;
      right: 0;
      z-index: 1;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #eaeaea 100%); }
    .tabbed-slidebox .tsb-icons .tsb-ic-wrp {
      display: flex;
      position: relative;
      -webkit-transition: -webkit-transform 0.3s;
      -webkit-transform: translate3d(0, 0, 0); }
      .tabbed-slidebox .tsb-icons .tsb-ic-wrp .scroll-view.scroll-x {
        overflow-x: hidden;
        overflow-y: hidden; }
    .tabbed-slidebox .tsb-icons .scroll {
      width: 100%;
      padding-top: 15px; }
      .tabbed-slidebox .tsb-icons .scroll a {
        font-size: 15px;
        line-height: -1em;
        text-decoration: none;
        margin: 0px 5px 0px 5px;
        border-bottom: 2px solid transparent;
        display: inline-block;
        -webkit-transform: translate3d(0, 8px, 0);
        color: #7A7A7A;
        text-transform: uppercase;
        width: 60px;
        transform: translate(0px, 0px);
        letter-spacing: -0.05em; }
        .tabbed-slidebox .tsb-icons .scroll a.active {
          font-size: 17px;
          border-bottom: 3px solid #338C4A;
          -webkit-transform: translate3d(0, 0, 0);
          color: #338C4A; }
  .tabbed-slidebox .tsb-hscroll.scroll-view {
    white-space: nowrap;
    margin: 0 auto; }
    .tabbed-slidebox .tsb-hscroll.scroll-view .scroll-bar {
      visibility: hidden; }
    .tabbed-slidebox .tsb-hscroll.scroll-view .scroll.onscroll {
      -webkit-transition: -webkit-transform 0.3s; }

.history-list {
  position: relative; }
  .history-list ul li {
    list-style-type: none; }
  .history-list .history-item {
    border-left: 1px solid #DBDBDB;
    padding: 16px 0px 8px 8px;
    position: relative;
    margin: 0; }
    .history-list .history-item:before {
      top: 50%;
      left: -5px;
      position: absolute;
      content: " ";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: #DBDBDB; }
    .history-list .history-item .history-type {
      text-transform: uppercase;
      font-weight: 700;
      color: #898B8E;
      font-size: 11px;
      line-height: 1em;
      padding: 0;
      margin: 5px 0; }
    .history-list .history-item .history-number {
      text-transform: uppercase;
      font-weight: 700;
      color: #898B8E;
      font-size: 11px;
      line-height: 1em;
      padding: 0;
      margin: 5px 0; }
    .history-list .history-item .history-title {
      text-transform: uppercase;
      font-weight: 100;
      color: inherit;
      font-size: 13px;
      line-height: 1em;
      padding: 0;
      margin: 5px 0; }
    .history-list .history-item .history-value {
      text-transform: uppercase;
      font-weight: 700;
      color: inherit;
      font-size: 13px;
      line-height: 1em;
      padding: 0;
      margin: 5px 0;
      letter-spacing: -0.03em;
      white-space: nowrap; }
    .history-list .history-item small {
      font-weight: 100;
      color: #898B8E;
      font-size: 8px;
      line-height: 1em;
      padding: 0;
      margin: 3px 0; }

.nav-bar .bar-header {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background: url("../img/logos/logo-basa-blur.png") no-repeat -22px -21px #338C4A;
  background-size: 113px auto !important;
  color: #fff;
  border: none; }
  .nav-bar .bar-header .buttons button {
    color: #fff;
    font-size: 20px;
    position: relative;
    background-color: transparent;
    border: none; }
    .nav-bar .bar-header .buttons button .badge {
      position: absolute;
      top: 0;
      right: -10px;
      font-family: "montserrat", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
      font-size: 11px;
      width: 20px;
      height: 20px;
      padding: 2px 1px 0px 0px; }
  .nav-bar .bar-header .title {
    display: none; }
  .nav-bar .bar-header:before, .nav-bar .bar-header:after {
    content: " ";
    display: table; }
  .nav-bar .bar-header:after {
    clear: both; }

.nav-bar .bar .buttons span {
  display: block; }

.nav-bar .buttons, .nav-bar .left-buttons {
  width: 100%; }

.has-navbottom {
  padding-bottom: 80px; }

.tabs-bottom-nav .tab-nav {
  background-color: #fff;
  border: none;
  border-top: 1px solid #E0E0E0;
  background-image: none;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3); }

.tabs-bottom-nav .tab-item {
  font-family: "montserrat", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: -0.03em; }
  .tabs-bottom-nav .tab-item .icon.theme-icon {
    background-size: 22px auto !important; }
  .tabs-bottom-nav .tab-item .icon.contacorrente-on {
    background: url("../img/icones/conta-corrente-on.png") center center no-repeat; }
  .tabs-bottom-nav .tab-item .icon.contacorrente-off {
    background: url("../img/icones/conta-corrente.png") center center no-repeat; }
  .tabs-bottom-nav .tab-item .icon.pagamentos-on {
    background: url("../img/icones/pagamentos-on.png") center center no-repeat; }
  .tabs-bottom-nav .tab-item .icon.pagamentos-off {
    background: url("../img/icones/pagamentos.png") center center no-repeat; }
  .tabs-bottom-nav .tab-item .icon.transferencia-on {
    background: url("../img/icones/transferencias-on.png") center 9px no-repeat;
    background-size: 34px auto !important; }
  .tabs-bottom-nav .tab-item .icon.transferencia-off {
    background: url("../img/icones/transferencias.png") center 9px no-repeat;
    background-size: 34px auto !important; }
  .tabs-bottom-nav .tab-item .icon.poupanca-on {
    background: url("../img/icones/poupanca-on.png") center center no-repeat; }
  .tabs-bottom-nav .tab-item .icon.poupanca-off {
    background: url("../img/icones/poupanca.png") center center no-repeat; }

.tabs-bottom-nav .tab-item-active {
  color: #338C4A;
  border-color: #338C4A !important; }

.tabs-bottom-nav .tabs-striped .tab-item.tab-item-active {
  border-color: #338C4A !important; }

#side-menu-global {
  background-color: #28753f;
  background: linear-gradient(135deg, #28753f 0%, #44766e 100%);
  color: #fff; }
  #side-menu-global .pane, #side-menu-global .scroll-content {
    background-color: transparent; }
  #side-menu-global .side-menu-body {
    padding: 15px;
    background: url("../img/backgrounds/bck-001.png") no-repeat top left;
    background-size: 100%; }
    #side-menu-global .side-menu-body .btn-logoff {
      font-size: 10px !important;
      padding: 4px 10px;
      line-height: 0;
      border-width: 1px;
      border-color: #fff; }
    #side-menu-global .side-menu-body .user-info .user-list {
      width: 100%; }
      #side-menu-global .side-menu-body .user-info .user-list .list {
        width: 100%;
        margin: 0; }
        #side-menu-global .side-menu-body .user-info .user-list .list .item {
          background-color: transparent;
          border-width: 0 0 1px 0;
          border-color: rgba(255, 255, 255, 0.2);
          color: #fff;
          max-height: 100%;
          transition: max-height 0.3s ease-in-out;
          margin: 0; }
          #side-menu-global .side-menu-body .user-info .user-list .list .item h2, #side-menu-global .side-menu-body .user-info .user-list .list .item p {
            color: #fff;
            font-size: 90%; }
          #side-menu-global .side-menu-body .user-info .user-list .list .item a {
            color: #fff; }
          #side-menu-global .side-menu-body .user-info .user-list .list .item:last-child, #side-menu-global .side-menu-body .user-info .user-list .list .item:first-child {
            border: none; }
        #side-menu-global .side-menu-body .user-info .user-list .list .item-avatar > img {
          max-height: 63px;
          max-width: 63px;
          border: 3px solid rgba(255, 255, 255, 0.3); }
    #side-menu-global .side-menu-body .side-menu-content {
      margin: 0 -15px; }
      #side-menu-global .side-menu-body .side-menu-content ul li {
        list-style-type: none; }
      #side-menu-global .side-menu-body .side-menu-content section {
        margin: 40px 0; }
      #side-menu-global .side-menu-body .side-menu-content .list-title {
        margin: 0 30px;
        font-size: 12px;
        text-transform: uppercase;
        color: #FFE898;
        font-weight: 700;
        background-size: 22px auto !important;
        padding: 5px 0 5px 30px; }
        #side-menu-global .side-menu-body .side-menu-content .list-title.tilte-cc {
          background: url("../img/icones/conta-corrente-yellow.png") left center no-repeat; }
        #side-menu-global .side-menu-body .side-menu-content .list-title.tilte-pagamentos {
          background: url("../img/icones/pagamentos-yellow.png") left center no-repeat; }
        #side-menu-global .side-menu-body .side-menu-content .list-title.tilte-transferencias {
          background: url("../img/icones/transferencias-yellow.png") left center no-repeat; }
        #side-menu-global .side-menu-body .side-menu-content .list-title.tilte-poupanca {
          background: url("../img/icones/poupanca-yellow.png") left center no-repeat; }
        #side-menu-global .side-menu-body .side-menu-content .list-title.tilte-emprestimos {
          background: url("../img/icones/emprestimos-yellow.png") left center no-repeat; }
      #side-menu-global .side-menu-body .side-menu-content ul li {
        font-weight: 100;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        #side-menu-global .side-menu-body .side-menu-content ul li a {
          color: #fff;
          text-decoration: none;
          margin: 25px 30px;
          display: inline-block;
          font-size: 15px;
          width: 100%;
          position: relative; }
          #side-menu-global .side-menu-body .side-menu-content ul li a:active, #side-menu-global .side-menu-body .side-menu-content ul li a:focus, #side-menu-global .side-menu-body .side-menu-content ul li a:visited {
            color: #fff;
            text-decoration: none; }
          #side-menu-global .side-menu-body .side-menu-content ul li a:after {
            content: "\f105";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            position: absolute;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.4);
            top: auto;
            right: 50px;
            z-index: 1; }

#inicio #login-page {
  background-color: #28753f;
  background: linear-gradient(135deg, #28753f 0%, #44766e 100%);
  color: #fff; }
  #inicio #login-page .logo {
    height: 31px;
    text-align: center;
    margin: 20px 0; }
  #inicio #login-page .scroll-content {
    background: url("../img/backgrounds/bck-001.png") no-repeat top left;
    background-size: 100%; }
  #inicio #login-page .menu-login {
    margin-top: 30px; }
    #inicio #login-page .menu-login .menu-login-item {
      width: 100%;
      font-size: 10px !important;
      color: #fff;
      text-transform: uppercase;
      text-align: center; }
      #inicio #login-page .menu-login .menu-login-item img {
        height: 30px;
        margin: 5px auto 0 auto; }
    #inicio #login-page .menu-login .menu-login-item-center {
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
      padding: 0 10px; }

#inicio .box-anuncio {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }

#inicio .swiper-pagination .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #fff;
  opacity: 1; }
  #inicio .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff; }

#login-page .user-list, #modal-login .user-list {
  width: 100%; }
  #login-page .user-list .list, #modal-login .user-list .list {
    margin: 0 auto; }
    @media only screen and (min-width: 500px) {
      #login-page .user-list .list, #modal-login .user-list .list {
        width: 50%; } }
    @media only screen and (max-width: 500px) {
      #login-page .user-list .list, #modal-login .user-list .list {
        width: 60%; } }
    @media only screen and (max-width: 420px) {
      #login-page .user-list .list, #modal-login .user-list .list {
        width: 80%; } }
    #login-page .user-list .list .item, #modal-login .user-list .list .item {
      background-color: transparent;
      border-width: 0 0 1px 0;
      border-color: rgba(255, 255, 255, 0.2);
      color: #fff;
      max-height: 100%;
      transition: max-height 0.3s ease-in-out; }
      #login-page .user-list .list .item h2, #login-page .user-list .list .item p, #modal-login .user-list .list .item h2, #modal-login .user-list .list .item p {
        color: #fff; }
      #login-page .user-list .list .item a, #modal-login .user-list .list .item a {
        color: #fff; }
      #login-page .user-list .list .item:last-child, #modal-login .user-list .list .item:last-child {
        border: none; }
    #login-page .user-list .list .item-avatar > img, #modal-login .user-list .list .item-avatar > img {
      max-height: 63px;
      max-width: 63px;
      border: 3px solid rgba(255, 255, 255, 0.3); }

#modal-login {
  background-color: #28753f;
  background: linear-gradient(135deg, #28753f 0%, #44766e 100%); }
  #modal-login .bar-header {
    background: transparent;
    border: none; }
  #modal-login .input-senha .item-input {
    color: #fff;
    padding: 0; }
    #modal-login .input-senha .item-input .input-label {
      color: #fff;
      font-size: 11px;
      text-transform: uppercase; }
    #modal-login .input-senha .item-input input {
      background-color: rgba(255, 255, 255, 0.2);
      border-bottom: 2px solid rgba(255, 255, 255, 0.3);
      color: #fff;
      padding: 10px;
      text-transform: uppercase;
      font-size: 11px;
      min-height: 42px; }
      #modal-login .input-senha .item-input input::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #fff;
        opacity: .8;
        font-size: 11px; }
      #modal-login .input-senha .item-input input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #fff;
        opacity: .8;
        font-size: 11px; }
      #modal-login .input-senha .item-input input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #fff;
        opacity: .8;
        font-size: 11px; }
      #modal-login .input-senha .item-input input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
        opacity: .8;
        font-size: 11px; }
      #modal-login .input-senha .item-input input:focus {
        background-color: rgba(0, 255, 66, 0.16);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 2px solid rgba(255, 255, 255, 0.1); }
